﻿<html lang="en">

<head>

    <meta charset="utf-8">
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="~/js/site.js"></script>

</head>

<body>
    @RenderBody()
</body>
</html>