﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
        <br>
        <div align="center">
            <h1 style="color:#fff;">Demo Shop</h1>
        </div>
        <div class="wrapper">
            <ul class="steps">
                <li class="is-active">Order detail</li>
                <li>Payments</li>
                <li>Confirm</li>
            </ul>
            <form class="form-wrapper">
                <fieldset class="section is-active">
                    <img src="https://c2.staticflickr.com/4/3851/15089778718_c17430a3cf_b.jpg" alt="" width="250">
                    <br>
                    <h3>Product : Test Product</h3>
                    <hr>
                    <h3>Credit Card : 1.50฿</h3>
                    <hr>
                    <h3>QR Code Promtpay : 1.30฿</h3>
                    <hr>
                    <h3>ผ่อนชำระรายเดือน 0% : 4,200.00฿</h3>
                    <hr>
                    <br><br>
                    <div class="button">Next</div>
                </fieldset>
                <fieldset class="section">
                    <div class="row cf">
                        <div class="four col">
                            <input type="radio" name="payment_type" id="card" value="card" checked>
                            <label for="card">
                                <h4>Credit Card</h4>
                            </label>
                        </div>
                        <div class="four col">
                            <input type="radio" name="payment_type" id="qr" value="qr"><label for="qr">
                                <h4>QR Code Promtpay</h4>
                            </label>
                        </div>
                        <div class="four col">
                            <input type="radio" name="payment_type" id="installment" value="installment"><label
                                for="installment">
                                <h4>ผ่อนชำระรายเดือน 0%</h4>
                            </label>
                        </div>
                    </div>
                    <div class="row cf" id="installment_bank_1" style="display:none">
                        <hr>
                        <h2>เลือกประเภทบัตร</h2>
                        <div class="three col">
                            <input type="radio" name="bank" id="ktc" value="KTC" checked>
                            <label for="ktc">
                                <img src="./images/0/ktc.png" alt="">
                            </label>
                        </div>
                        <div class="three col">
                            <input type="radio" name="bank" id="bay1" value="BAY"><label for="bay1">
                                <img src="./images/0/bay1.png" alt="">
                            </label>
                        </div>
                        <div class="three col">
                            <input type="radio" name="bank" id="fcy" value="FCY"><label for="fcy">
                                <img src="./images/0/fcy.png" alt="">
                            </label>
                        </div>
                        <div class="three col">
                            <input type="radio" name="bank" id="bay2" value="BAY"><label for="bay2">
                                <img src="./images/0/bay2.png" alt="">
                            </label>
                        </div>
                    </div>
                    <div class="row cf" id="installment_bank_2" style="display:none">
                        <div class="three col">
                            <input type="radio" name="bank" id="bay3" value="BAY"><label for="bay3">
                                <img src="./images/0/bay3.png" alt="">
                            </label>
                        </div>
                    </div>
                    <br><br>
                    <div class="button">สร้างรหัสธุรกรรม</div>
                </fieldset>
                <fieldset class="section">
                    <div class="payment" style="text-align:center">
                        <h3 id="wait">กรุณารอสักครู่...</h3>
                        <img id="loading" src="http://smartboardpen.com/foto/data/loading2.gif" alt="">
                    </div>
                </fieldset>

            </form>
        </div>
    </div>